.col-centered{
    float: none;
    margin: 0 auto;
}

.profile-pic {
  float: none;
  margin-left: 10px;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* font-weight: 300; font-family: "proxima-nova"; */

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.btn-custom {
  height: 75px;
  width: 500px;
  position: relative;
  left: 40px;
  font-size: 30px;
}

#profile-container {
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 34px;
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.car-image {
  width: 520px;
  height: 250px;
  background-size: 100% 100%;
}

#shevy {
  background-image:url('shevy.png');
}

#boyota {
  background-image:url('boyota.png');
}

#mord {
  background-image:url('mord.png');
}

.loan-warning {
  position: relative;
  top: 28px;
  text-align: center;
}

.loan-box {
  width: 620px;
  height: 270px;
  border-radius: 5px;
  background-color: #F0F0F0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.table-loan {
  padding-top: 15px;
  width: 400px;
  margin: 15px auto 0 auto;
}

.loan-title {
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
}

.loan-btn {
  position: relative;
  left: 257px;
  top: 15px;
}

.iphone-container {
  overflow: hidden;
  width: 652px;
  height: 1138px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative ;
  top: 107px;
  z-index: 100;
}

.container-custom {
  width: 640px;
}


.iphone-picture {
  position: relative;
  top: -1267px;
  background-image:url('iphone.png');
  height: 1572px;
  width: 852px;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

body {
  height: 1700px;
}

#profile-container{
  text-align: center;
}
#challenge-container{
  text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.city-img {
  height: 1115px;
  width: 6000px;
  background-image:url('city.jpg');
  margin-left: -21px;
}

.UI-bar {
  position: relative;
  top: 414px;
  height: 80px;
  width: 647px;
  left: 3px;
  z-index: 101;
  margin-left: auto;
  margin-right: auto;
  background-image:url('nav-UI.png');
  background-repeat: no-repeat;
}

.UI-bar-title {
  position: relative;
  top: 346px;
  font-size: 50px;
  z-index: 101;
  text-align: center;
  color: white;
}

.profile-icon {
  position: relative;
  top: 278px;
  height: 55px;
  width: 54px;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
  cursor: pointer;
  left: 203px;
}

.car-dealership {
  position: absolute;
  z-index: 999;
  height: 137px;
  width: 287px;
  top: 910px;
  left: 431px;
  background-image: url('car-dealership-tag.png');
  cursor: pointer;
}

.help-icon {
  width: 27px;
  height: 27px;
  margin-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

.finance-car-review {
  padding-top: 10px;
}

#car-picker-next {
  margin-top: 20px;
}

#loan-picker-container {
  overflow: scroll;
  height: 1100px;
}

.description-text {
  padding-top: 25px;
}

#profile-container {
  overflow: scroll;
}

#loan-picker-bad {
  font-size: 15px;
}

#info-box-button {
  position: relative;
  cursor: pointer;
  height: 50px;
  width: 50px;
  bottom: 1100px;
  left: 565px;
}

#info-screen-container {
}

.info-img {
  position: relative;
  left: -12px;
}